{erl_opts, [{i, "../../include"}, 
            {i, "../rtsp/include"}]}.

{sub_dirs, ["apps/utils", 
            "apps/logger", 
            "apps/listener", 
            "apps/rtsp", 
            "apps/rtp", 
            "apps/ems"]}.

{lib_dirs, ["apps"]}.

{xref_warnings, true}.

{xref_checks, [exports_not_used, 
               undefined_function_calls,
               deprecated_functions,
               locals_not_used,
               exports_not_used]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.
%{cover_print_enabled, true}.

